

body {
 border: 20px solid #bdc3c7;
 margin: 2% auto 2% auto;
 width: 50%;
 font-family: Source Sans Pro;
 font-weight: 400;
 padding: 20px;
 max-width: 700px
}

h2 {
 margin-left:20px;
 color: #2c3e50;
 font-weight: 700;
 font-size: 2em;
}

h3 {
  margin-left:20px;
  color: #3498db;
  text-transform: uppercase;
}

p {
  margin-left:20px;
  margin-right:20px;
}

.first-para {
  border-left: 5px solid #F08080;
  padding-left: 5px;
}

hr {
  border: 2px solid #bdc3c7;
  margin-left: 20px;
  margin-right:20px;
}
